html  
  head 
   title learning JS 
  body 
   h2 wellcome to db 
   p lets learn mongodb   
   p if we use assignment operator it gives controllers value its the power of pug and its important
   h3=title 
   p=message 