html
 hedd 
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css") 
  title login 
 body 
  h2 login 
  p please login to start your session 
  form( name="loginForm" method="POST" action="").form-group
   label(for="username") Username 
   input(type="text" name="username" placeholder="Username")#username.form-control
   label(for="password") Password 
   input(type="password" name="password" placehplder="Username" )#password.form-control
   hr
   button(type="submit").btn.btn-primary Login
  p DON'T HAVE AN ACCOUNT ?
  p Register 
   a(href="/auth/register") here

     