html
 hedd 
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css") 
  title login 
 body 
  h2 login 
  p please login to start your session 
  form( name="loginForm" method="POST" action="").form-group
   label(for="name") Name 
   input(type="text" name="name" placeholder="Name")#name.form-control
   label(for="email") Email 
   input(type="text" name="email" placehplder="Email" )#email.form-control
   label(for="username") Username 
   input(type="text" name="username" placeholder="Username")#username.form-control
   label(for="password") Password 
   input(type="password" name="password" placehplder="Username" )#password.form-control
   hr
   button(type="submit").btn.btn-primary Register
   p ALREADY HAVE AN ACCOUNT ?
  p Login 
   a(href="/auth/login") login